In [1]:
from lisa.utils import *

In [2]:
from lisa.library import *

In [3]:
import lisa.models

In [4]:
import numpy as np, pandas as pd, datetime, pytz

In [5]:
dataset = DataSet.objects.get(id=1)

In [7]:
df = dataset.dataframe
df_z = df.apply(lambda row: zscore_for_column(row, row.name, True), axis=1)

df_res = pd.DataFrame(index=df_z.index, columns=df_z.columns)

In [8]:
df_mean = df_z.mean(axis=1)
df_std = df_z.std(axis=1)

In [9]:
df_quantile_25 = df_z.quantile(0.25, axis=1)
df_quantile_75 = df_z.quantile(0.75, axis=1)

In [10]:
count=0
for index, row in df_z.iterrows():
    for column in df_z.columns:
        IQR = df_quantile_75[index] - df_quantile_25[index]
        
        if row[column] < (df_quantile_25[index] - (1.5 * IQR)) or row[column] > (df_quantile_75[index] + (1.5 * IQR)):
            df_res.loc[index, column] = 1
            count+=1
            #print(index)
            #print('Val:', np.abs(row[column]))
            #print('Mean:', df_mean[index])
            #print('2 Std:', 2*df_std[index])
print(count)
print(df_res.sum(axis=0))

4197
station
1       1.0
2       NaN
3    3827.0
4       2.0
5       NaN
6     360.0
7       7.0
dtype: float64

In [12]:
df_res.loc[df_res[6] == 1]

station                      1    2  3    4    5  6    7
time
2017-06-01 17:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-01 17:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-01 17:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-01 21:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 00:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 01:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 01:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 01:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 01:40:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 01:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 02:00:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 02:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 02:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 02:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 02:40:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 02:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 03:00:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 03:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 03:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 03:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 03:40:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 03:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 04:00:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 04:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 04:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 04:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 04:40:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 04:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 05:00:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-02 05:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
...                        ...  ... ..  ...  ... ..  ...
2017-06-28 19:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-28 19:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-28 22:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-28 23:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-29 02:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-29 03:00:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-29 14:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-29 21:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 00:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 00:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 01:00:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 01:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 01:40:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 01:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 02:00:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 02:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 02:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 02:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 02:40:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 02:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 03:00:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 04:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 04:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 04:40:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 04:50:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 05:00:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 05:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 05:20:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 05:30:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN
2017-06-30 23:10:00+00:00  NaN  NaN  1  NaN  NaN  1  NaN

[360 rows x 7 columns]

In [114]:
df.loc[datetime.datetime(2017, 6, 10, 15, 40, tzinfo=pytz.utc)]

station
1    511.0
2    583.0
3    623.0
5    589.0
6    475.0
7     33.0
Name: 2017-06-10 15:40:00+00:00, dtype: float64

In [116]:
df.loc[datetime.datetime(2017, 6, 10, 15, 40, tzinfo=pytz.utc)].mean()

469.0

In [117]:
df.loc[datetime.datetime(2017, 6, 10, 15, 40, tzinfo=pytz.utc)].std()

220.45770569431227

In [6]:
df = (
    # A standard distribution
    pd.DataFrame({'nb': np.random.randint(0, 100, 20)})
        # Adding some outliers
        .append(pd.DataFrame({'nb': np.random.randint(100, 200, 2)}))
        # Reseting the index
        .reset_index(drop=True)
    )

In [7]:
df

     nb
0    71
1    28
2    12
3    94
4    25
5    60
6    72
7    46
8    76
9    32
10   66
11   26
12   20
13   97
14   72
15   18
16   17
17   49
18   29
19   75
20  110
21  164

In [41]:
Q1 = df[3].quantile(0.25)
Q3 = df[3].quantile(0.75)
IQR_1 = Q3 - Q1
df_q = pd.DataFrame(index=df[1].index)
print(Q1)
print(Q3)
print(IQR_1)

8.0
14.5
6.5

In [42]:
count = 0
for index, row in df[3].iteritems():
    if row < (Q1 - 1.5 * IQR_1) or row > (Q3 + 1.5 * IQR_1):
        count+=1
        df_q[index] = 1
print(count)

0