In [1]:
import pandas as pd
import numpy as np
import json, csv, datetime

In [2]:
#input

yahoo_path = '/home/adrian/Dokumente/real_data/ydata-labeled-time-series-anomalies-v1_0'

a1_path = '/A1Benchmark/'
a2_path = '/A2Benchmark/'
a3_path = '/A3Benchmark/'
a4_path = '/A4Benchmark/'

a1_elements = np.arange(1, 68).tolist()
a234_elements = np.arange(1, 100).tolist()

a1files = [{ 'name' : 'TS' + str(x), 'file_path' : yahoo_path + a1_path + 'real_' + str(x) + '.csv' } for x in a1_elements]
a2files = [{ 'name' : 'TS' + str(x), 'file_path' : yahoo_path + a2_path + 'synthetic_' + str(x) + '.csv' } for x in a234_elements]
a3files = [{ 'name' : 'TS' + str(x), 'file_path' : yahoo_path + a3_path + 'A3Benchmark-TS' + str(x) + '.csv' } for x in a234_elements]
a4files = [{ 'name' : 'TS' + str(x), 'file_path' : yahoo_path + a4_path + 'A4Benchmark-TS' + str(x) + '.csv' } for x in a234_elements]

#output
output_path = '/home/adrian/Dokumente/real_data/yahoo_out'

test_file_name = output_path + a2_path + 'test.csv'
train_file_name = output_path + a2_path + 'train.csv'

In [3]:
def load_data_frame(ts_name, file_path):
    df = pd.read_csv(file_path)
    df.insert(0, 'ts_name', ts_name)
    df.insert(2, 'unit', "Value")
    df = df.rename(columns={'timestamp': 'time', 'is_anomaly' : 'class'})
    return df

In [4]:
def time_index_to_dt(df):
    for idx, row in df.iterrows():
        dt = datetime.datetime.fromtimestamp(row['time'])
        df.loc[idx, 'time'] = dt
    return df

In [5]:
def init_file(outputfile):
    with open(outputfile, 'w') as file_output:
        writer = csv.writer(file_output, delimiter=';')
        header = ['ts_name', 'time', 'unit', 'value', 'class']
        writer.writerow(header)
        
def append_to_file(df, outputfile):
    with open(outputfile, 'a') as file_output:
        writer = csv.writer(file_output, delimiter=';')
        for index, row in df.iterrows():
            row = [row[0], row[1].isoformat(), row[2], row[3], row[4]]
            writer.writerow(row)

In [20]:
# S1 set
names_set_a2_s1 = ['TS1', 'TS2', 'TS3', 'TS4', 'TS5', 'TS6', 'TS7', 'TS8', 'TS9']

# S2 set
names_set_a2_s2 = ['TS' + str(x) for x in np.arange(11,20).tolist()]

In [13]:
# S1
test_file_name_s1 = output_path + a2_path + 'test_s1.csv'
train_file_name_s1 = output_path + a2_path + 'train_s1.csv'
init_file(test_file_name_s1)
init_file(train_file_name_s1)

In [14]:
for entry in a2files:
    ts_name = entry['name']
    if ts_name in names_set_a2_s1:
        file_path = entry['file_path']
        df = load_data_frame(ts_name, file_path)
        df = time_index_to_dt(df)
        print(ts_name + "\t anomalies " 
              + str(df.loc[df['class']==1].shape[0]) 
              + '\t values ' + str(df.shape[0])
              + '\t min ' + str(df.loc[df['class']==0, 'value'].min()) 
              + '\t max ' + str(df.loc[df['class']==0, 'value'].max()))
        df_test = df.iloc[0:700]
        print('test' + "\t anomalies " + str(df_test.loc[df_test['class']==1].shape[0]) + '\t values ' + str(df_test.shape[0]))

        df_train = df.iloc[701:1401]
        print('train' + "\t anomalies " + str(df_train.loc[df_train['class']==1].shape[0]) + '\t values ' + str(df_train.shape[0]))
        print('\n')
        append_to_file(df_test, test_file_name_s1)
        append_to_file(df_train, train_file_name_s1)

TS1	 anomalies 4	 values 1421	 min -1421.03900780435	 max 1416.91254278074
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS2	 anomalies 9	 values 1421	 min -1337.39554558125	 max 2230.21351209765
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS3	 anomalies 1	 values 1421	 min -1469.17024959319	 max 1476.17862753322
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS4	 anomalies 4	 values 1421	 min -1349.7201913828599	 max 2569.31864920635
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS5	 anomalies 9	 values 1421	 min -1480.24277746569	 max 1548.9621898117498
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS6	 anomalies 1	 values 1421	 min -1369.95553721034	 max 2796.0554553537395
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS7	 anomalies 4	 values 1421	 min -759.7765474868539	 max 6070.118294224821
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS8	 anomalies 9	 values 1421	 min -1507.78201552584	 max 1654.95510635564
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS9	 anomalies 1	 values 1421	 min -1202.3920933373402	 max 5093.872131146671
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700

In [21]:
# S2
test_file_name_s2 = output_path + a2_path + 'test_s2.csv'
train_file_name_s2 = output_path + a2_path + 'train_s2.csv'
init_file(test_file_name_s2)
init_file(train_file_name_s2)

In [22]:
for entry in a2files:
    ts_name = entry['name']
    if ts_name in names_set_a2_s2:
        file_path = entry['file_path']
        df = load_data_frame(ts_name, file_path)
        df = time_index_to_dt(df)
        print(ts_name + "\t anomalies " 
              + str(df.loc[df['class']==1].shape[0]) 
              + '\t values ' + str(df.shape[0])
              + '\t min ' + str(df.loc[df['class']==0, 'value'].min()) 
              + '\t max ' + str(df.loc[df['class']==0, 'value'].max()))
        df_test = df.iloc[0:700]
        print('test' + "\t anomalies " + str(df_test.loc[df_test['class']==1].shape[0]) + '\t values ' + str(df_test.shape[0]))

        df_train = df.iloc[701:1401]
        print('train' + "\t anomalies " + str(df_train.loc[df_train['class']==1].shape[0]) + '\t values ' + str(df_train.shape[0]))
        print('\n')
        append_to_file(df_test, test_file_name_s2)
        append_to_file(df_train, train_file_name_s2)

TS11	 anomalies 9	 values 1421	 min -1288.4912053444198	 max 4492.0546085613205
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS12	 anomalies 1	 values 1421	 min -1716.1728402295098	 max 1756.67495057559
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS13	 anomalies 4	 values 1421	 min -1435.8133483540398	 max 4298.9986399934005
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS14	 anomalies 9	 values 1421	 min -165.031044984485	 max 10640.2416388357
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS15	 anomalies 1	 values 1421	 min -1732.7463531757	 max 1954.1237572643104
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS16	 anomalies 4	 values 1421	 min -969.1594552207409	 max 7619.48340953066
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS17	 anomalies 9	 values 1421	 min -1619.89508548574	 max 2212.82357199317
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS18	 anomalies 1	 values 1421	 min -1248.3852663909402	 max 6657.26093078765
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS19	 anomalies 4	 values 1421	 min -1577.05476966853	 max 2383.1029633962
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700

In [23]:
test_file_all = output_path + a2_path + 'test_all.csv'
train_file_all = output_path + a2_path + 'train_all.csv'
init_file(test_file_all)
init_file(test_file_all)

In [28]:
for entry in a2files:
    ts_name = entry['name']
    file_path = entry['file_path']
    df = load_data_frame(ts_name, file_path)
    df = time_index_to_dt(df)
    """print(ts_name + "\t anomalies " 
          + str(df.loc[df['class']==1].shape[0]) 
          + '\t values ' + str(df.shape[0])
          + '\t min ' + str(df["value"].min()) 
          + '\t max ' + str(df["value"].max()))"""
    df_test = df.iloc[0:700]
    #print('test' + "\t anomalies " + str(df_test.loc[df_test['class']==1].shape[0]) + '\t values ' + str(df_test.shape[0]))

    df_train = df.iloc[701:1401]
    """print('train' + "\t anomalies " + str(df_train.loc[df_train['class']==1].shape[0]) + '\t values ' + str(df_train.shape[0]))
    print('\n')"""
    append_to_file(df_test, test_file_all)
    append_to_file(df_train, train_file_all)

In [24]:
init_file(test_file_name)
init_file(train_file_name)

In [12]:
for entry in a2files:
    ts_name = entry['name']
    file_path = entry['file_path']
    df = load_data_frame(ts_name, file_path)
    df = time_index_to_dt(df)
    print(ts_name + "\t anomalies " 
          + str(df.loc[df['class']==1].shape[0]) 
          + '\t values ' + str(df.shape[0])
          + '\t min ' + str(df.loc[df['class']==0, 'value'].min()) 
          + '\t max ' + str(df.loc[df['class']==0, 'value'].max()))
    #print(df)
    df_test = df.iloc[0:700]
    print('test' + "\t anomalies " + str(df_test.loc[df_test['class']==1].shape[0]) + '\t values ' + str(df_test.shape[0]))

    df_train = df.iloc[701:1401]
    print('train' + "\t anomalies " + str(df_train.loc[df_train['class']==1].shape[0]) + '\t values ' + str(df_train.shape[0]))
    print('\n')
    #append_to_file(df_test, test_file_name)
    #append_to_file(df_train, train_file_name)
    """if ts_name == 'TS9':
        break"""

TS1	 anomalies 4	 values 1421	 min -1421.03900780435	 max 1416.91254278074
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS2	 anomalies 9	 values 1421	 min -1337.39554558125	 max 2230.21351209765
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS3	 anomalies 1	 values 1421	 min -1469.17024959319	 max 1476.17862753322
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS4	 anomalies 4	 values 1421	 min -1349.7201913828599	 max 2569.31864920635
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS5	 anomalies 9	 values 1421	 min -1480.24277746569	 max 1548.9621898117498
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS6	 anomalies 1	 values 1421	 min -1369.95553721034	 max 2796.0554553537395
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS7	 anomalies 4	 values 1421	 min -759.7765474868539	 max 6070.118294224821
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS8	 anomalies 9	 values 1421	 min -1507.78201552584	 max 1654.95510635564
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS9	 anomalies 1	 values 1421	 min -1202.3920933373402	 max 5093.872131146671
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS10	 anomalies 4	 values 1421	 min -1549.60051249137	 max 1781.47914710953
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS11	 anomalies 9	 values 1421	 min -1288.4912053444198	 max 4492.0546085613205
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS12	 anomalies 1	 values 1421	 min -1716.1728402295098	 max 1756.67495057559
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS13	 anomalies 4	 values 1421	 min -1435.8133483540398	 max 4298.9986399934005
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS14	 anomalies 9	 values 1421	 min -165.031044984485	 max 10640.2416388357
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS15	 anomalies 1	 values 1421	 min -1732.7463531757	 max 1954.1237572643104
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS16	 anomalies 4	 values 1421	 min -969.1594552207409	 max 7619.48340953066
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS17	 anomalies 9	 values 1421	 min -1619.89508548574	 max 2212.82357199317
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS18	 anomalies 1	 values 1421	 min -1248.3852663909402	 max 6657.26093078765
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS19	 anomalies 4	 values 1421	 min -1577.05476966853	 max 2383.1029633962
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS20	 anomalies 9	 values 1421	 min -1469.95958535845	 max 5593.295816504879
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS21	 anomalies 1	 values 1421	 min -122.097268211642	 max 15381.9271350298
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS22	 anomalies 4	 values 1421	 min -1615.5926061865	 max 2660.3014955522303
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS23	 anomalies 9	 values 1421	 min -822.990477058622	 max 10032.848283408499
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS24	 anomalies 1	 values 1421	 min -1841.0297711985002	 max 2729.6232025764803
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS25	 anomalies 4	 values 1421	 min -1216.4964962704198	 max 7917.330615017309
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS26	 anomalies 9	 values 1421	 min -1535.4166004133801	 max 3093.94599303427
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS27	 anomalies 1	 values 1421	 min -1439.3677974350303	 max 7422.80775489657
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS28	 anomalies 4	 values 1421	 min -217.035545154336	 max 19222.868354616297
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS29	 anomalies 9	 values 1421	 min -1633.9489852466502	 max 3449.97905814544
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS30	 anomalies 1	 values 1421	 min -805.372933781178	 max 13181.690997387299
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS31	 anomalies 4	 values 1421	 min -1747.1208457847101	 max 3696.4468132008396
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS32	 anomalies 9	 values 1421	 min -1206.9910900274301	 max 9345.249492364592
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS33	 anomalies 1	 values 1421	 min -2056.17625423743	 max 2880.56615200882
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS34	 anomalies 4	 values 1421	 min -1571.0532342755898	 max 7609.099652691701
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS35	 anomalies 9	 values 1421	 min -307.747113265476	 max 23235.3717257861
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS36	 anomalies 1	 values 1421	 min -1863.9938129970199	 max 3376.4839345603496
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS37	 anomalies 4	 values 1421	 min -586.824532764845	 max 14377.007034358201
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS38	 anomalies 9	 values 1421	 min -1787.15788146886	 max 4738.29344409956
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS39	 anomalies 1	 values 1421	 min -1154.92782798072	 max 12009.188858883601
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS40	 anomalies 4	 values 1421	 min -1614.06024689943	 max 5063.41167327898
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS41	 anomalies 9	 values 1421	 min -1638.00064618831	 max 8330.606312367021
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS42	 anomalies 1	 values 1421	 min -300.193763500214	 max 28673.691644131603
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS43	 anomalies 4	 values 1421	 min -1598.0891438823498	 max 5560.11737986014
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS44	 anomalies 9	 values 1421	 min -496.82756663318605	 max 16307.2067870616
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS45	 anomalies 1	 values 1421	 min -2044.18178008182	 max 4791.57054077542
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS46	 anomalies 4	 values 1421	 min -1231.85184898131	 max 11628.296730223
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS47	 anomalies 9	 values 1421	 min -1646.66789484056	 max 6329.11838306234
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS48	 anomalies 1	 values 1421	 min -1559.94045862957	 max 11260.8372061542
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS49	 anomalies 4	 values 1421	 min -491.63033760587797	 max 30777.310630714503
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS50	 anomalies 9	 values 1421	 min -1543.87292345789	 max 6873.495793120339
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS51	 anomalies 1	 values 1421	 min -494.230161567264	 max 20524.722488563202
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS52	 anomalies 4	 values 1421	 min -1820.08026390647	 max 7350.495636606941
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS53	 anomalies 9	 values 1421	 min -1266.21801417818	 max 12483.4250907341
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS54	 anomalies 1	 values 1421	 min -2204.03927167239	 max 4863.88619357734
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS55	 anomalies 4	 values 1421	 min -1804.6966449220397	 max 9200.82911488152
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS56	 anomalies 9	 values 1421	 min -584.80199383514	 max 34339.821801957005
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS57	 anomalies 1	 values 1421	 min -1911.7146523044698	 max 5555.28718333916
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS58	 anomalies 4	 values 1421	 min -588.367096143856	 max 19594.8157756322
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS59	 anomalies 9	 values 1421	 min -1812.9656106599398	 max 8920.851198215609
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700

TS60	 anomalies 1	 values 1421	 min -124.77756082596599	 max 19066.8324396306
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS61	 anomalies 4	 values 1421	 min -1391.0175760576	 max 1531.03792380424
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS62	 anomalies 9	 values 1421	 min -626.858212895174	 max 15454.4728011991
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS63	 anomalies 1	 values 1421	 min 11.616456793740099	 max 44139.4975079728
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS64	 anomalies 4	 values 1421	 min -1396.5859673743803	 max 1921.6263868414999
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS65	 anomalies 9	 values 1421	 min 67.47999768712229	 max 27436.5094346389
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS66	 anomalies 1	 values 1421	 min -1462.6141903562198	 max 1917.2919262614998
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS67	 anomalies 4	 values 1421	 min -83.6297536153475	 max 20310.298957619198
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS68	 anomalies 9	 values 1421	 min -1390.0853199728501	 max 2540.4899737697
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS69	 anomalies 1	 values 1421	 min -634.046869914811	 max 16774.6606285486
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS70	 anomalies 4	 values 1421	 min 62.2224648795691	 max 47975.74296899849
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS71	 anomalies 9	 values 1421	 min -1373.47228958618	 max 2972.98709207101
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS72	 anomalies 1	 values 1421	 min -55.029096195148796	 max 30257.713692742596
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS73	 anomalies 4	 values 1421	 min -1445.93891892915	 max 3275.1045929661896
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS74	 anomalies 9	 values 1421	 min -80.203771206081	 max 21410.9089682029
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS75	 anomalies 1	 values 1421	 min -1566.0337327639902	 max 2553.49505606248
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS76	 anomalies 4	 values 1421	 min -765.438918850366	 max 16815.658903858897
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS77	 anomalies 9	 values 1421	 min 44.6125196912379	 max 51801.8414871228
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS78	 anomalies 1	 values 1421	 min -1471.29267943258	 max 3042.4079206538104
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS79	 anomalies 4	 values 1421	 min 26.8351862729165	 max 31186.4129152262
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS80	 anomalies 9	 values 1421	 min -1459.0321323672001	 max 4583.15904191371
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS81	 anomalies 1	 values 1421	 min -116.188400644466	 max 23929.0000081558
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS82	 anomalies 4	 values 1421	 min -1350.49945665881	 max 5135.9895065499395
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS83	 anomalies 9	 values 1421	 min -851.129859282111	 max 17209.8566967707
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS84	 anomalies 1	 values 1421	 min -110.81143993822901	 max 57369.737883701506
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS85	 anomalies 4	 values 1421	 min -1254.67233452518	 max 5619.95314508205
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS86	 anomalies 9	 values 1421	 min -36.296517849382795	 max 32789.3038011661
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS87	 anomalies 1	 values 1421	 min -1569.3619062555401	 max 4429.938034909121
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS88	 anomalies 4	 values 1421	 min -111.89318690479901	 max 23039.338472534302
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS89	 anomalies 9	 values 1421	 min -1345.93025584318	 max 6707.62908342434
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS90	 anomalies 1	 values 1421	 min -745.397516058062	 max 19937.228741278
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS91	 anomalies 4	 values 1421	 min -93.3033396647068	 max 58871.817668749005
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS92	 anomalies 9	 values 1421	 min -1158.98605725237	 max 7228.542132516941
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS93	 anomalies 1	 values 1421	 min -181.874566449136	 max 37117.3315992442
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS94	 anomalies 4	 values 1421	 min -1438.0668703126	 max 7799.371440946759
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS95	 anomalies 9	 values 1421	 min -160.495063347822	 max 23567.1579662819
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS96	 anomalies 1	 values 1421	 min -1715.6600340957998	 max 4927.53201028039
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700


TS97	 anomalies 4	 values 1421	 min -1055.3129150539	 max 17425.4617657581
test	 anomalies 2	 values 700
train	 anomalies 2	 values 700


TS98	 anomalies 9	 values 1421	 min -187.880760532896	 max 62115.695332250994
test	 anomalies 6	 values 700
train	 anomalies 3	 values 700


TS99	 anomalies 1	 values 1421	 min -1466.9655076914	 max 5653.46435313707
test	 anomalies 0	 values 700
train	 anomalies 1	 values 700

In [54]:
df.iloc[10001:15801]

      ts_name                 time   unit  value  class
10001     UPS  2015-04-02 15:07:53  Value      2      0
10002     UPS  2015-04-02 15:12:53  Value      1      0
10003     UPS  2015-04-02 15:17:53  Value      5      0
10004     UPS  2015-04-02 15:22:53  Value      1      0
10005     UPS  2015-04-02 15:27:53  Value      2      0
...       ...                  ...    ...    ...    ...
15796     UPS  2015-04-22 18:02:53  Value      1      0
15797     UPS  2015-04-22 18:07:53  Value      2      0
15798     UPS  2015-04-22 18:12:53  Value      1      0
15799     UPS  2015-04-22 18:17:53  Value      5      0
15800     UPS  2015-04-22 18:22:53  Value      1      0

[5800 rows x 5 columns]

In [47]:
test_data_frame

      ts_name                 time   unit  value  class
0        Test  2015-02-26 21:42:53  Value      2      0
1        Test  2015-02-26 21:47:53  Value      2      0
2        Test  2015-02-26 21:52:53  Value      4      0
3        Test  2015-02-26 21:57:53  Value      3      0
4        Test  2015-02-26 22:02:53  Value      5      0
...       ...                  ...    ...    ...    ...
15861    Test  2015-04-22 23:27:53  Value      3      0
15862    Test  2015-04-22 23:32:53  Value      2      0
15863    Test  2015-04-22 23:37:53  Value      2      0
15864    Test  2015-04-22 23:42:53  Value      3      0
15865    Test  2015-04-22 23:47:53  Value      3      0

[15866 rows x 5 columns]

In [23]:
test_data_frame.loc[test_data_frame['class']==1]

      ts_name                 time   unit  value  class
1993     TEST  2015-03-05 19:47:53  Value    716      1
3735     TEST  2015-03-11 20:57:53  Value   1673      1
9795     TEST  2015-04-01 21:57:53  Value    282      1
11606    TEST  2015-04-08 04:52:53  Value    211      1